* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  background-color:#1F2937;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header{
  /* border: 4px solid black; */
  display: flex;
  justify-content: space-around;
  color: #eee;
  background-color: #1F2937;
  text-decoration: none;
  height: 50px;
}

li,
a {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #eee;
  align-items: center;
}

ul {
  display: flex;
  /* border: 4px solid black; */
  width: 400px;
  justify-content: space-around;
  background-color: #1F2937;
}

/* hero */

.hero {
  display: flex;
  /* border: 4px solid black; */
  height: 400px;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  color: #eee;
}

.left {
  display: flex;
  flex-direction: column;
  width: 450px;
  /* border: 4px solid red; */
  height: 220px;
}

.right {
  display: flex;
  width: 450px;
  /* border: 4px solid blue; */
  height: 220px;
  background-color: gray;
  align-items: center;
  justify-content: center;

}

.left h1 {
  font-size: 48px;
  display: flex;
  flex-wrap:wrap;
  /* border: 4px solid black; */
  width: 300px;
  height: 105px;
  font-weight: 800;
  color: #F9FAF8;
}

.left-text {
  width: 390px;
  font-size: 18px;
}

.left button {
  border-radius: 10px;
  background-color:#3882F6;
  color: #eee;
  padding: 0px 0px;
  width: 130px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}


/* information */
.information {
  height: 480px;
  /* border: 4px solid black; */
  background-color: #eee;
}

.information h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  padding: 50px;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.item-container {
  /* border: 4px solid black; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 160px;
  color: #565f6c;
  align-items: center;
}

.item {
  width: 180px;
  height: 180px;
  border: 4px solid #3b82f6;
  border-radius: 20px;
}

/* quote */
.quote {
  background-color: #E5E7EB;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote q {
  font-size: 32px;
  font-style: oblique;
  color: #1F2937;
  /* border: 4px solid black; */
  width: 780px;
}

.quote p {
  font-weight: 800;
  font-size: 22px;
  color: #1f2937;
  display: flex;
  justify-content: flex-end;
  width: 700px;

  /* border: 4px solid black; */
}


/* call to action  */

.call-to-action {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.banner {
  background-color: #3b82f6;
  display: flex;
  height: 130px;
  width: 1000px;
  /* border: 4px solid red; */
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.center-banner {
  /* border: 4px solid black; */
  height: 100px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-banner {
  color: #eee;
}

.sign-up {
  background-color: #3b82f6;
  color: #eee;
  width: 140px;
  height: 37px;
  border-radius: 8px;
  border: 2px solid #eee;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
}
